

#body{
  background-image: url(http://i.imgur.com/n8eSLTA.jpg);
  background-size: contain;
}

#title{
font-family: 'Nosifer', cursive;
font-size: 4em;
text-align: center;
text-shadow: 6px 6px 8px black;
color: rgb(62, 125, 19);
display: block;
margin-left: auto;
margin-right: auto;


}


#canvas{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  border: 2px solid black;
  background-color: rgba(116, 93, 106, 0.32);
}
